<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista Familiares:</h1>

    <h2>FAMILIAR 1</h2>

    <h3 > Nombre: {{  familiar1.nombre }}  </h3>
    <h3 > #hijos: {{ familiar1.hijos }} </h3> 
    <h3> Fecha De Nacimiento: {{ familiar1.nacimiento }}</h3>
    
    <h2>FAMILIAR 2</h2>

    <h3 > Nombre: {{  familiar2.nombre }}  </h3>
    <h3 > #hijos: {{ familiar2.hijos }} </h3> 
    <h3> Fecha De Nacimiento: {{ familiar2.nacimiento }}</h3>
    
    <h2>FAMILIAR 3</h2>

    <h3 > Nombre: {{  familiar3.nombre }}  </h3>
    <h3 > #hijos: {{ familiar3.hijos }} </h3> 
    <h3> Fecha De Nacimiento: {{ familiar3.nacimiento }}</h3>
    

    
    


</body>
</html>